@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*Landing Page*/
.landing-page-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url('../assets/space.gif');
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    text-align: center;
}

.intro-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5rem; /* Adjusted for better responsiveness */
    color: rgb(177, 97, 0);
    animation: fadeInUp 2s ease-in-out;
    margin: 0;
    padding: 0 10px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro-text h1 span {
    font-weight: 400;
    letter-spacing: 15px; /* Adjusted for better responsiveness */
    color: bisque;
    text-shadow: 8px 6px 2px rgb(177, 97, 0);
    font-weight: 600;
}

.intro-text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem; /* Adjusted for better responsiveness */
    color: rgb(255, 229, 197);
    letter-spacing: 5px; /* Adjusted for better responsiveness */
    margin-top: 10px;
    padding: 0 10px;
}

.btn-login {
    margin-top: 20px; /* Adjusted for better positioning */
    font-size: 40px; /* Adjusted for better responsiveness */
    font-weight: 600;
    color: rgb(255, 209, 122);
    margin-right: 50px;
}

.btn-login a {
    transition: all 0.3s ease-in-out;
    color: rgb(255, 220, 122);
    text-decoration: none;
}

.btn-login a:hover {
    transform: scale(1.1);
    color: rgb(248, 218, 49);
}

/* Tablet and below */
@media (max-width: 768px) {
    .intro-text h1 {
        font-size: 3rem;
    }
    .intro-text h1 span {
        letter-spacing: 10px;
    }
    .intro-text p {
        font-size: 0.9rem;
    }
    .btn-login {
        font-size: 1.2rem;
    }
}

/* Mobile and below */
@media (max-width: 480px) {
    .intro-text h1 {
        font-size: 2rem;
    }
    .intro-text h1 span {
        letter-spacing: 5px;
    }
    .intro-text p {
        font-size: 0.8rem;
    }
    .btn-login  {
        font-size: 1rem;
    }
}